html,
body {
    background-color: #549556 !important;
    background-image: url("balaji-malliswamy-hoIa1ufxt6M-unsplash.jpg");
    font-family: Raleway !important;
}

h4 {
    text-align: center;
    font-family: Raleway !important;
    color: white;
    font-weight: bolder;
    margin: 0px 100px;
    padding-top: 50px;
}

p {
    text-align: center;
    font-family: inherit;
    color: white;
    padding: 0px 15px;
}

#container-bg {
    background-color: rgb(84, 149, 86, 0.6);
    border-radius: 10px;
}

.btn {
    background-color: #549556 !important;
}

.logo {
    max-width: auto;
    max-height: 20px;
    opacity: 1;
}

.navbar-custom {
    background-color: #549556 !important;
    font-family: Raleway;
}