p {
    font-family: Raleway, "Sans Serif";
    font-size: 18px;
}

h1 {
    font-family: Raleway, "Sans Serif";
}

#main-page {
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
}

#left-side {
    position: absolute;
    float: left;
    left: 80px;
    top: 190px;
    word-wrap: normal;
    width: 400px;
    font-size: 18px;
}

.name-tag {
    color: #062473;
    font-weight: bold;
    font-size: 32px;
    position: absolute;
    top: 10px;
    left: 50px;
}

.profile-photo {
    position: absolute;
    width: 135px;
    height: 135px;
    left: 350px;
    top: 25px;
    border-style: ridge;
    border-radius: 50%;
    border-width: 5px;
    border-color: #549556;
}

.logo-position {
    position: relative;
    width: 398px;
    height: 98px;
    left: 1020px;
    border-radius: 10px;
}

.welcome-back {
    color: #062473;
}

.today-weather {
    position: absolute;
    color: #062473;
    top: 230px;
    font-family: Raleway;
    text-align: center;
}

.weather-api {
    position: absolute;
    color: #062473;
    font-family: Raleway;
    text-align: center;
    left: 200px;
    top: 30px;
}

.right-side {
    position: absolute;
    top: 210px;
    left: 900px;
    float: right;
    font-size: 18px;
    font-family: Raleway;
    color: #062473;
    width: 600px;
}

.question-box {
    position: absolute;
    float: right;
    font-size: 15px;
    font-family: inherit;
    color: black;
    top: 60px;
    width: 528px;
    height: 305px;
    padding: 20px;
    border-color: white;
    border-width: 1px;
    box-shadow: 6px 6px 15px rgba(230, 230, 230, 0.9), -6px -6px 12px rgba(255, 255, 255, 0.9), 6px -6px 12px rgba(230, 230, 230, 0.2), -6px 6px 12px rgba(230, 230, 230, 0.2), inset -1px -1px 2px rgba(230, 230, 230, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
}

.entry-box {
    height: 190px;
    width: 522px;
    resize: none;
    font-family: Raleway;
    outline: none;
    background: #F4F4F4;
    box-shadow: -1px -1px 2px rgba(207, 207, 207, 0.5), 1px 1px 2px rgba(255, 255, 255, 0.3), inset 2px 2px 5px rgba(207, 207, 207, 0.9), inset -2px -2px 4px rgba(255, 255, 255, 0.9), inset 2px -2px 4px rgba(207, 207, 207, 0.2), inset -2px 2px 4px rgba(207, 207, 207, 0.2);
}

.submit-button {
    position: relative;
    top: 15px;
    left: 261px;
    text-align: center;
    font-family: inherit;
    background: #F9F9F9;
    box-shadow: 5px 5px 13px rgba(224, 224, 224, 0.9), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px -5px 10px rgba(224, 224, 224, 0.2), -5px 5px 10px rgba(224, 224, 224, 0.2), inset -1px -1px 2px rgba(224, 224, 224, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.3);
}


/*
._-_-components-src-organism-CurrentConditions-CurrentConditions--dataWrapperInner--1_6ni {
    line-height: 1.5;
    font-family: Raleway;
    color: #549556;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

._-_-components-src-organism-CurrentConditions-CurrentConditions--primary--2DOqs {
    line-height: 1.5;
    font-family: Raleway;
    color: #549556;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: left;
}

._-_-components-src-organism-CurrentConditions-CurrentConditions--tempValue--MHmYY {
    font-family: Raleway;
    color: #549556;
    -webkit-box-direction: normal;
    text-align: left;
    display: block;
    position: relative;
    font-size: 3.5rem;
    line-height: .96em;
    font-weight: 500;
}*/

#vertical-bar {
    position: absolute;
    width: 468px;
    height: 0px;
    left: 479px;
    top: 438px;
    background: linear-gradient(179.86deg, #FFFFFF 0%, #EAEAEA 200%);
    border: 7px solid rgba(183, 183, 183, 0.88);
    box-shadow: 1px -1px 3px rgba(98, 98, 98, 0.9), -1px 1px 2px rgba(255, 255, 255, 0.9), 1px 1px 2px rgba(98, 98, 98, 0.2), -1px -1px 2px rgba(98, 98, 98, 0.2), inset -1px 1px 2px rgba(98, 98, 98, 0.5), inset 1px -1px 2px rgba(255, 255, 255, 0.3);
    filter: blur(1px);
    transform: rotate(90deg);
}

#vertical-bar-b {
    position: absolute;
    width: 468px;
    height: 0px;
    left: 440px;
    top: 588px;
    background: linear-gradient(179.86deg, #FFFFFF 0%, #EAEAEA 200%);
    border: 7px solid rgba(183, 183, 183, 0.88);
    box-shadow: 1px -1px 3px rgba(98, 98, 98, 0.9), -1px 1px 2px rgba(255, 255, 255, 0.9), 1px 1px 2px rgba(98, 98, 98, 0.2), -1px -1px 2px rgba(98, 98, 98, 0.2), inset -1px 1px 2px rgba(98, 98, 98, 0.5), inset 1px -1px 2px rgba(255, 255, 255, 0.3);
    filter: blur(1px);
    transform: rotate(90deg);
}


/*BELOW IS USED FOR NAVIGATION BAR*/

.topnav {
    background-color: #549556;
    overflow: hidden
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: Raleway;
    margin: 2px 48px 2px 48px;
    box-shadow: 2px 2px 5px rgba(76, 134, 77, 0.9), -2px -2px 4px rgba(92, 164, 95, 0.9), 2px -2px 4px rgba(76, 134, 77, 0.2), -2px 2px 4px rgba(76, 134, 77, 0.2), inset -1px -1px 2px rgba(76, 134, 77, 0.5), inset 1px 1px 2px rgba(92, 164, 95, 0.3);
}


/* Add an active class to highlight the current page */

.active {
    background-color: #56711C;
    color: white;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}


/* Dropdown container - needed to position the dropdown content */

.dropdown {
    float: left;
    overflow: hidden;
}


/* Style the dropdown button to fit inside the topnav */

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Raleway;
    margin: 2px 48px 2px 48px;
    box-shadow: 2px 2px 5px rgba(76, 134, 77, 0.9), -2px -2px 4px rgba(92, 164, 95, 0.9), 2px -2px 4px rgba(76, 134, 77, 0.2), -2px 2px 4px rgba(76, 134, 77, 0.2), inset -1px -1px 2px rgba(76, 134, 77, 0.5), inset 1px 1px 2px rgba(92, 164, 95, 0.3);
}


/* Style the dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    font-family: Raleway, inherit;
}


/* Style the links inside the dropdown */

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: Raleway, inherit;
    box-shadow: 2px 2px 5px rgba(76, 134, 77, 0.9), -2px -2px 4px rgba(92, 164, 95, 0.9), 2px -2px 4px rgba(76, 134, 77, 0.2), -2px 2px 4px rgba(76, 134, 77, 0.2), inset -1px -1px 2px rgba(76, 134, 77, 0.5), inset 1px 1px 2px rgba(92, 164, 95, 0.3);
    margin: 5px 25px 5px 25px;
}


/* Add a dark background on topnav links and the dropdown button on hover */

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #56711C;
    color: white;
}


/* Add a grey background to dropdown links on hover */

.dropdown-content a:hover {
    background-color: #56711C;
    color: white;
}


/* Show the dropdown menu when the user moves the mouse over the dropdown button */

.dropdown:hover .dropdown-content {
    display: block;
    color: white;
    background-color: #549556;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: relative;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}