html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#map img {
    max-width: none;
}

.container-map {
    box-sizing: initial;
}

.logo {
    max-width: auto;
    max-height: 20px;
    opacity: 1;
}

.navbar-custom {
    background-color: #549556 !important;
    font-family: Raleway;
}

.btn {
    background-color: #549556 !important;
}

#dropdownMenu2 {
    background-color: #549556 !important;
    font-family: Raleway;
}